:root {
	--gold-100: #413900;
	--gold-300: #846905;
	--gold-500: #ce9409;
	--gold-700: #ffd140;
	--gold-900: #fff4b8;
	--sea-100: #193632;
	--sea-300: #345348;
	--sea-500: #6e9d87;
	--sea-700: #ace9c5;
	--sea-900: #d9ffe8;
	--violet-100: #040421;
	--violet-300: #2d27a4;
	--violet-500: #645cee;
	--violet-700: #a8a9f4;
	--violet-900: #cfd3ff;
	--fire-100: #3b1a00;
	--fire-300: #743002;
	--fire-500: #ce5509;
	--fire-700: #f58f53;
	--fire-900: #ffc7a3;
	--gray-000: #000000;
	--gray-100: #19191a;
	--gray-200: #313233;
	--gray-300: #4b4c4d;
	--gray-400: #646666;
	--gray-500: #7e807f;
	--gray-600: #979998;
	--gray-700: #b0b3b0;
	--gray-800: #cbccca;
	--gray-900: #e5e6e2;
	--gray-950: #fffef7;
	--gray-1000: #ffffff;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

code {
	font-family: 'Fira Code', monospace;
}

h1,
h2,
h3 {
	font-family: 'Comfortaa', sans-serif;
}
